  .rect {
    text-align: center;
    width:99% ;
    height: 80%;
    position: absolute; 
    top: 130px;
    left:0.5%;
    background-color: #0A042E; 
    border-radius: 40px;
  }

  .rect1 {
    width:600px ;
    height:10%;
    position: absolute; 
    top: 1280px;
    background-color: red; 
    border-radius: 40px;
    left:30%;
    border-color: aliceblue;
    z-index: 1;
   }
  
   .name{
      
   }
  
   .password{

   }

   .submit {

   }